<nav class="navbar navbar-default borderless">
 <ul class="nav navbar-nav">
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="﻿homeDDL">
    ﻿Home
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="﻿homeDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item">
     <a class="list-menu" href="index.html">
      Fixit Maths
     </a>
    </li>
    <li class="dropdown-item">
     <a class="list-menu" href="diagnostics.html">
      Diagnostics
     </a>
    </li>
    <li class="dropdown-item">
     <a class="list-menu" href="about-us.html">
      About us
     </a>
    </li>
    <li class="dropdown-item">
     <a class="list-menu" href="whats-new.html">
      What's new
     </a>
    </li>
    <li class="dropdown-item">
     <a class="list-menu" href="contact.html">
      Contact
     </a>
    </li>
   </ul>
  </li>
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="howtoDDL">
    How to
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="howtoDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="howto-additionDDL">
      Addition
     </a>
     <ul aria-labelledby="howto-additionDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-addition.html">
        Written method
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="howto-subtractionDDL">
      Subtraction
     </a>
     <ul aria-labelledby="howto-subtractionDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-subtraction.html">
        Written method
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item">
     <a class="list-menu" href="calculating-with-zero.html">
      Calculating with zero
     </a>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="howto-commutativityDDL">
      Commutativity
     </a>
     <ul aria-labelledby="howto-commutativityDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="understanding-commutativity.html">
        Understanding commutativity
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="using-commutativity.html">
        Using commutativity
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="howto-timestablesDDL">
      Times tables
     </a>
     <ul aria-labelledby="howto-timestablesDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="learning-multiplication-facts.html">
        Learning multiplication facts
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="learning-division-facts.html">
        Learning division facts
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="learning-specific-tables.html">
        Learning specific tables
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="retaining-knowledge-of-tables-facts.html">
        Retaining knowledge of tables facts
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="howto-writtenmethodsDDL">
      Written methods
     </a>
     <ul aria-labelledby="howto-writtenmethodsDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-addition.html">
        Addition
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-subtraction.html">
        Subtraction
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </li>
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="fixitDDL">
    Fixit
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="fixitDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="fixit-additionwrittenmethodDDL">
      Addition (written method)
     </a>
     <ul aria-labelledby="fixit-additionwrittenmethodDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-numbers.html">
        Aligning numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-decimals.html">
        Aligning decimals
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="calculating-with-zero.html">
        Calculating with zero
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying.html">
        Carrying
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-a-final-digit.html">
        Carrying a final digit
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-across-a-decimal-point.html">
        Carrying across a decimal point
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-when-adding-3-numbers.html">
        Carrying when adding 3 numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="commutativity.html">
        Commutativity
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="fixit-subtractionwrittenmethodDDL">
      Subtraction (written method)
     </a>
     <ul aria-labelledby="fixit-subtractionwrittenmethodDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-numbers.html">
        Aligning numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-decimals.html">
        Aligning decimals
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="calculating-with-zero.html">
        Calculating with zero
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging.html">
        Exchanging
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-from-1.html">
        Exchanging from 1
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-across-zero.html">
        Exchanging across zero
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-across-two-or-more-zeroes.html">
        Exchanging across two or more zeroes
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="using-a-final-place-holder.html">
        Using a final place holder
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="fixit-commutativityDDL">
      Commutativity
     </a>
     <ul aria-labelledby="fixit-commutativityDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="commutativity-misuse-subtraction.html">
        Misuse in subtraction
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="commutativity-misuse-division.html">
        Misuse in division
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="misuse-in-written-subtraction.html">
        Misuse in written subtraction
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="misuse-in-written-division.html">
        Misuse in written division
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="written-addition.html">
        Written addition
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="written-multiplication.html">
        Written multiplication
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="fixit-readingwritingnumbersDDL">
      Reading/writing numbers
     </a>
     <ul aria-labelledby="fixit-readingwritingnumbersDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="teen-numbers.html">
        Teen numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="ty-numbers.html">
        Ty numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="12-and-20.html">
        12 and 20
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="13-15-30-and-50.html">
        13, 15, 30 and 50
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="counting-with-teen-and-ty.html">
        Counting with teen and ty
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="identifying-difficulties.html">
        Identifying difficulties
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </li>
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="diagnosticsheetsDDL">
    Diagnostic sheets
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="diagnosticsheetsDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="diagnosticsheets-additionDDL">
      Addition
     </a>
     <ul aria-labelledby="diagnosticsheets-additionDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-addition-diag.html">
        Written method
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="diagnosticsheets-subtractionDDL">
      Subtraction
     </a>
     <ul aria-labelledby="diagnosticsheets-subtractionDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="written-method-subtraction-diag.html">
        Written method
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </li>
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="reinforcementactivitiesDDL">
    Reinforcement activities
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="reinforcementactivitiesDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="reinforcementactivities-timestablesDDL">
      Times tables
     </a>
     <ul aria-labelledby="reinforcementactivities-timestablesDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="using-times-table-fact-cards.html">
        Using times table fact cards
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="reinforcementactivities-readingwritingnumbersDDL">
      Reading/writing numbers
     </a>
     <ul aria-labelledby="reinforcementactivities-readingwritingnumbersDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="teen-and-ty-numbers.html">
        Teen and ty numbers
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="reinforcementactivities-writtenmethodsDDL">
      Written methods
     </a>
     <ul aria-labelledby="reinforcementactivities-writtenmethodsDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="addition.html">
        Addition
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="subtraction.html">
        Subtraction
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </li>
  <li class="nav-item dropdown hover-open">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="worksheetsDDL">
    Worksheets
    <span class="caret">
    </span>
   </a>
   <ul aria-labelledby="worksheetsDDL" class="nav-link dropdown-menu">
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="worksheets-additionwrittenmethodDDL">
      Addition (written method)
     </a>
     <ul aria-labelledby="worksheets-additionwrittenmethodDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="adding-2-numbers.html">
        Adding 2 numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-numbers.html">
        Aligning numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-decimals.html">
        Aligning decimals
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying.html">
        Carrying
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-a-final-digit.html">
        Carrying a final digit
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-across-a-decimal-point.html">
        Carrying across a decimal point
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="carrying-when-adding-3-numbers.html">
        Carrying when adding 3 numbers
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="worksheets-subtractionwrittenmethodDDL">
      Subtraction (written method)
     </a>
     <ul aria-labelledby="worksheets-subtractionwrittenmethodDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="subtracting-2-numbers.html">
        Subtracting 2 numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-numbers.html">
        Aligning numbers
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="aligning-decimals.html">
        Aligning decimals
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging.html">
        Exchanging
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-from-1.html">
        Exchanging from 1
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-across-zero.html">
        Exchanging across zero
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="exchanging-across-two-or-more-zeroes.html">
        Exchanging across two or more zeroes
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="worksheets-multiplicationDDL">
      Multiplication
     </a>
     <ul aria-labelledby="worksheets-multiplicationDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="multiplying-2-numbers-_this-is-on-commutativity-in-written-mult-page_.html">
        Multiplying 2 numbers (this is on commutativity in written mult page)
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="worksheets-numberbondsDDL">
      Number bonds
     </a>
     <ul aria-labelledby="worksheets-numberbondsDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="bonds-for-10-20-100.html">
        Bonds for 10, 20, 100
       </a>
      </li>
     </ul>
    </li>
    <li class="dropdown-item dropdown-submenu dropdown hover-open">
     <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="worksheets-timestablesDDL">
      Times tables
     </a>
     <ul aria-labelledby="worksheets-timestablesDDL" class="dropdown-menu">
      <li class="dropdown-item">
       <a class="list-menu" href="times-tables-generator.html">
        x and ÷ facts
       </a>
      </li>
      <li class="dropdown-item">
       <a class="list-menu" href="using-place-value-with-times-tables.html">
        Using place value with times tables
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </li>
  <li class="navbar-link">
   <a class="list-menu" href="resources.html">
    Resources
   </a>
  </li>
 </ul>
</nav>